
.salas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* border-style: solid;
    border-color: purple; */

}


.container-switch .switch-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* border-style: solid; */
    /* border-color: blue; */
    
}

.switch-box .switch {
    /* border-style: solid; */
    /* border-color: olivedrab; */
}


.switch-box .rotulo {
    /* border-style: solid; */
    /* border-color: red; */

    margin: auto;
    width: 100px;
    text-align: center;

}

.gauge-master {    
    margin: auto;
    left: 0;
    width: 100%;

    /* border-style: solid; */
    /* border-color: orange; */
}
